<template>
  <div v-html="htmlContent"></div>
</template>

<script>
export default {
  name: 'About',
  data () {
    return {
      htmlContent: ''
    }
  },
  methods: {
    getAbout () {
      this.$http.get('/v1/content/about')
        .then(response => {
          let content = response.data
          if (content.length > 0) {
            this.htmlContent = content[0].content
          } else {
            this.htmlContent = ''
          }
        })
        .catch(e => {
          alert('Ocorreu um erro, por favor tente mais tarde.')
        })
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => vm.getAbout())
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
