<template>
  <div>
    <b-card v-bind:title="card.title | shortDescription"
            v-bind:img-src="card.image"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem;"
            class="mb-3">
      <p class="card-text">
          {{card.description | shortDescription}}
      </p>
      <router-link :to="{ name: 'details', params: {id: card.id}}">
        <b-button style="background:black; color: yellow;">Visualizar</b-button>
      </router-link>
    </b-card>
  </div>

</template>

<script>
export default {
  name: 'CardItem',
  filters: {
    shortDescription: function (value) {
      if (value.length > 5) {
        return value.substring(0, 25) + '...'
      } else {
        return value
      }
    }
  },
  data () {
    return {}
  },
  props: ['card']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
