<template>
  <div>
    <H2>Fale conosco</H2><br/>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group id="InputGroup2"
                    label="Seu nome:"
                    label-for="Input2">
        <b-form-input id="Input2"
                      type="text"
                      v-model="form.name"
                      placeholder="Nome">
        </b-form-input>
        <b-form-invalid-feedback id="input1LiveFeedback">
        ble
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="InputGroup1"
                    label="Endereço de email:"
                    label-for="Input1">
        <b-form-input id="Input1"
                      type="email"
                      v-model="form.email"
                      placeholder="Email">
        </b-form-input>
      </b-form-group>
      <b-form-group id="InputGroup3"
                    label="Telefone:"
                    label-for="Input3">
        <b-form-input id="Input3"
                      type="text"
                      v-mask="'(##) #####-####'"
                      v-model="form.phone"
                      placeholder="Telefone">
        </b-form-input>
      </b-form-group>
      <b-form-group id="InputGroup4"
                    label="Descrição:"
                    label-for="Input4">
        <div>
    <b-form-textarea id="textarea1"
                     v-model="form.description"
                     placeholder="Descrição"
                     :rows="3"
                     :max-rows="6">
    </b-form-textarea>
  </div>
    </b-form-group>
      <b-button type="submit" variant="primary" style="color:yellow;background:black;">Enviar</b-button>
      <b-button type="reset" variant="danger" style="color:black;background:orange;">Limpar</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  name: 'ContactUs',
  data () {
    return {
      form: {
        email: '',
        name: '',
        phone: '',
        description: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      let vm = this
      this.$http.post('/v1/communication/contact_us/', this.form)
        .then(function (response) {
          if (response.status === 201) {
            vm.reset()
            alert('Mensagem registrada com sucesso.')
          }
        })
        .catch(e => {
          alert('Ocorreu um erro, por favor tente mais tarde.')
        })
    },
    onReset (evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.reset()
    },
    reset () {
      this.form.email = ''
      this.form.name = ''
      this.form.phone = null
      this.form.description = ''
      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.$nextTick(() => { this.show = true })
    }
  }
}
</script>
