<template>
  <div v-html="htmlContent"></div>
</template>

<script>

export default {
  name: 'DetailCard',
  data () {
    return {
      htmlContent: '',
      id: 0
    }
  },
  methods: {
    getDetail (fromName) {
      if (fromName === 'news') {
        this.$http.get('v1/content/news/' + this.id)
          .then(response => {
            this.htmlContent = response.data.content
          })
          .catch(e => {
            this.errors.push(e)
          })
      } else if (fromName === 'lectures') {
        this.$http.get('/v1/content/lecture/' + this.id)
          .then(response => {
            this.htmlContent = response.data.content
          })
          .catch(e => {
            this.errors.push(e)
          })
      }
    }
  },
  created () {
    this.id = this.$route.params.id
  },
  beforeRouteEnter (to, from, next) {
    next(vm => vm.getDetail(from.name))
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
