<template>
  <div>
    <b-navbar class="nav-bar-main" toggleable="md" type="dark">

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand><router-link class="app-logo-header" to="/">{{title}}</router-link></b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">

        <b-navbar-nav>
          <b-nav-item to="/noticias">Notícias</b-nav-item>
          <b-nav-item to="/palestras">Palestras</b-nav-item>
          <b-nav-item to="/sobre">Sobre</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
            <b-nav-item href="http://www.ufpr.br/portalufpr/">UFPR</b-nav-item>
            <b-nav-item to="/fale-conosco">Fale Conosco</b-nav-item>
        <b-nav-item-dropdown right>
            <!-- Using button-content slot -->
            <template slot="button-content">
            <em>Usuário</em>
            </template>
            <b-dropdown-item href="http://bairo.pythonanywhere.com/admin/">Login</b-dropdown-item>
        </b-nav-item-dropdown>
        </b-navbar-nav>

    </b-collapse>
    </b-navbar>

    <!-- navbar-1.vue -->
  </div>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      title: 'NEAB - UFPR'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .nav-bar-main {
        background: #000;
    }
    .app-logo-header {
        color:#f5dd5d;
    }
    .header-link {
        color:#FFF;
    }

</style>
