<template>
  <div v-html="htmlContent"></div>
</template>

<script>
export default {
  name: 'InitialPage',
  data () {
    return {
      htmlContent: 'Bem vindo ao site do NEAB.'
    }
  },
  methods: {
    getInitialPage () {
      this.$http.get('/v1/content/initial_page/')
        .then(response => {
          this.htmlContent = response.data[0].content
        })
        .catch(e => {
          this.errors.push(e)
        })
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => vm.getInitialPage())
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
