<template>
  <div>
    <div class="starter-template">
        <h1>Em construção</h1>
        <p class="lead">
          volte mais tarde.
        </p>
    </div>
  </div>

</template>

<script>
export default {
  name: 'Lecture',
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
