<template>
  <div>
    <b-row align-h="center">
      <b-card-group>
        <b-col v-for="card in cards" :key="card.id">
          <app-card-item v-bind:card="card" />
        </b-col>
      </b-card-group>
    </b-row>
  </div>
</template>

<script>

import CardItem from './CardItem'

export default {
  name: 'PanelCards',
  data () {
    return {
      cards: []
    }
  },
  components: {
    'app-card-item': CardItem
  },
  methods: {
    getCards (routeName) {
      if (routeName === 'news') {
        this.$http.get('/v1/content/news')
          .then(response => {
            this.cards = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
      } else if (routeName === 'lectures') {
        this.$http.get('/v1/content/lecture')
          .then(response => {
            this.cards = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => vm.getCards(to.name))
  }
}
</script>

<style scoped>

</style>
