<template>
  <div id="app">
    <app-header></app-header>
    <b-container class="app-main-content">
      <router-view/>
    </b-container>
  </div>
</template>

<script>
import Header from './components/Header'
import PanelCards from './components/PanelCards'
import CardItem from './components/CardItem'
import About from './components/About'
import Lecture from './components/Lecture'

export default {
  components: {
    'app-header': Header,
    'app-panel-cards': PanelCards,
    'app-card-item': CardItem,
    'app-about': About,
    'app-lecture': Lecture
  },
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
.app-main-content {
  padding-top: 10px;
}
</style>
